#title,#title2,p,#img-div{
text-align: center;
color:rgb(19, 19, 165);
}
#main{
    background-color: rgb(222, 216, 241);
    margin: 10px;
    border-radius: 10px;
}
#img-div{
    margin: 10px;
    padding-top: 10px;
     border-radius: 10px;
background-color: rgba(11, 15, 14, 0.397);
}

#image{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul{
    display: block;
    margin: 0 auto 50px auto;
    max-width:900px;
  font-size: 20px;

}

li{
    padding: 10px;
}
#last{
    text-align: center;
    
    font-size: 15px;
    color: blueviolet;
}
h3{
    text-align: center;
    padding-bottom: 10px;
}